
@{
    ViewData["Title"] = "TBQuyen";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="product-slider-area section-space-top-95 section-space-bottom-100">
    <div class="container">
        <div class="section-title text-center pb-55">
            <h4 style="color: red" class="title mb-0">Bạn không có quyền truy cập chức năng này</h4>
        </div>
    </div>
    <div>

