@{
    ViewData["TiTle"] = "Về chúng tôi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Begin Main Content Area -->
<main class="main-content">
    <br />
    <br />
    <br />
    <div class="breadcrumb-item">
        <h2 class="breadcrumb-heading">Giới thiệu</h2>
        <ul>
            <li>
                <a href="/">Trang chủ <i class="pe-7s-angle-right"></i></a>
            </li>
            <li>Giới thiệu</li>
        </ul>
    </div>
    <br />
    <br />
    <br />
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-5">
                    <div class="parallax-img-wrap">
                        <div class="papaya">
                            <div class="scene fill">
                                <div class="expand-width" data-depth="0.2">
                                <img src="~/assets/images/logo/Logo.png" alt="Banner Images">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-7 align-self-center">
                    <div class="about-banner-content">
                        <div class="section-title">
                            <span class="sub-title">Chào mừng đến HASTORE</span>
                            <h2 class="title font-size-60 mb-6">Cửa hàng điện tử tốt nhất</h2>
                        <p class="short-desc mb-0">
                            Chúng tôi rất trân trọng sự tin yêu của Quý khách đã sử dụng dịch vụ Online trong thời gian qua, 
                            đó cũng là động lực để chúng tôi không ngừng nỗ lực và hoàn thiện mình ngày một tốt hơn.
                            Với năng lực tiếp nhận vẫn còn nhiều giới hạn nên trong thời gian gần đây chúng tôi 
                            có thể chưa phục vụ hết 100% khách hàng trọn vẹn với cam kết trên.
                        </p>
                            <div class="button-wrap pt-8">
                                <a class="btn btn-custom-size lg-size btn-primary btn-dark-hover rounded-0" href="shop.html">Mua hàng ngay</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <div class="intro-area section-space-y-axis-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="intro-item text-white" data-bg-color="#aec581">
                        <div class="intro-content">
                            <h3 class="title mb-4">Chúng tôi là ai?</h3>
                            <p class="short-desc mb-0">Chúng tôi là cửa hàng bán đồ điện tử HASTORE</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 pt-6 pt-md-0">
                    <div class="intro-item text-white" data-bg-color="#b9cbe7">
                        <div class="intro-content">
                            <h3 class="title mb-4">Sản phẩm của chúng tôi</h3>
                            <p class="short-desc mb-0">Cửa hàng chúng tôi gồm nhiều mặt hàng như laptop, điện thoại, phụ kiện, ...</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 pt-6 pt-lg-0">
                    <div class="intro-item text-white" data-bg-color="#b8a780">
                        <div class="intro-content">
                            <h3 class="title mb-4">Cách làm việc</h3>
                            <p class="short-desc mb-0">Cách làm việc năng suất và hiệu quả. Khách hàng là thượng đế.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- Main Content Area End Here -->
<!-- Begin Shipping Area -->
<div class="shipping-area section-space-top-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="shipping-item">
                    <div class="shipping-img">
                        <img src="/assets/images/shipping/icon/ship.png" alt="Shipping Icon" width="40px">
                    </div>
                    <div class="shipping-content">
                        <h5 class="title">Giao hàng miễn phí</h5>
                        <p class="short-desc mb-0">Với mọi đơn hàng</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 pt-6 pt-md-0">
                <div class="shipping-item">
                    <div class="shipping-img">
                        <img src="/assets/images/shipping/icon/earphone.png" alt="Shipping Icon" width="40px">
                    </div>
                    <div class="shipping-content">
                        <h5 class="title">Hỗ trợ 24/7</h5>
                        <p class="short-desc mb-0">Hotline: <strong>0963102916</strong></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 pt-6 pt-lg-0">
                <div class="shipping-item">
                    <div class="shipping-img">
                        <img src="/assets/images/shipping/icon/shield.png" alt="Shipping Icon" width="40px">
                    </div>
                    <div class="shipping-content">
                        <h5 class="title">Giờ làm việc</h5>
                        <p class="short-desc mb-0">Từ 6h00 - 19h30 hàng ngày</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<br />
<!-- Shipping Area End Here -->
