@{
    ViewData["TiTle"] = "Thông tin liên hệ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Begin Main Content Area -->
<main class="main-content">
    <br />
    <br />
    <br />
                    <div class="breadcrumb-item">
                        <h2 class="breadcrumb-heading">Thông tin liên hệ</h2>
                        <ul>
                            <li>
                                <a href="/">Trang chủ <i class="pe-7s-angle-right"></i></a>
                            </li>
                            <li>Thông tin liên hệ</li>
                        </ul>
                    </div>
    <br />
    <br />
    <br />

    <div class="contact-with-map">
        <div class="contact-map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m26!1m12!1m3!1d3723.488558994562!2d105.73548317563441!3d21.05314053060228!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m11!3e6!4m3!3m2!1d21.053148699999998!2d105.7379674!4m5!1s0x313454f82ae18a49%3A0x390266c86f58f468!2zTmcuIDEzMiBD4bqndSBEaeG7hW4sIE1pbmggS2hhaSwgVOG7qyBMacOqbSwgSMOgIE7hu5lpLCBWaeG7h3QgTmFt!3m2!1d21.0530835!2d105.7381705!5e0!3m2!1svi!2s!4v1682412734594!5m2!1svi!2s" width="1500" height="550" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
        <div class="contact-form-area section-space-bottom-100"> 
            <div class="container">
                <div class="contact-form-wrap">
                    <form id="contact-form" class="contact-form" style="width: 450px">
                        <h4 class="contact-form-title pb-2 mb-7">HASTORE</h4>
                        <p><b>Địa chỉ:</b> 85/132 Nguyên Xá, Nam Từ Liêm, Hà Nội</p>
                        <p><b>Chịu trách nhiệm quản lý:</b> Vũ Trí Hải Anh</p>
                        <p><b>Điện thoại liên hệ:</b> 0362896104</p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- Main Content Area End Here -->
