@model ShopOnline.ModelViews.UpdateProfileViewModel

<div class="myaccount-details">
    <form asp-controller="Accounts" asp-action="UpdateProfile" method="post" class="myaccount-form">
        <div class="myaccount-form-inner">
            <div class="single-input">
                <label>Họ và tên</label>
                <input asp-for="FullName" type="text">
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
            <div class="single-input">
                <label>Sinh nhật</label>
                <input asp-for="Birthday" type="date">
                <span asp-validation-for="Birthday" class="text-danger"></span>
            </div>
            <div class="single-input">
                <label>Địa chỉ</label>
                <input asp-for="Address" type="text">
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="single-input">
                <label>Số điện thoại</label>
                <input asp-for="Phone" type="text">
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="single-input">
                <button class="btn btn-custom-size lg-size btn-secondary btn-primary-hover rounded-0" type="submit">
                    <span>Lưu thay đổi</span>
                </button>
            </div>
        </div>
    </form>
</div>

