@{
    ViewData["Title"] = "ThongBao";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="product-slider-area section-space-top-95 section-space-bottom-100">
    <div class="container">
        <div class="section-title text-center pb-55">
            <h4 style="color: red" class="title mb-0">Tài khoản này đã bị vô hiệu hóa</h4>
        </div>
    </div>
<div>
    <br />  
    <br />  

